.DS_Store
/vendor/
/dev/*/vendor/
/dev/*/var/
/dev/*/public/
/dev/*/config/system/settings.php
/dev/*/.env
/dev/*/.env.*
/dev/*/.local-credentials
/dev/*/.peer-config.json
/.phpunit.cache/
/site/
/.venv-docs/
